@import 'tailwindcss';
@plugin "daisyui" {
    themes: light --default;
}


body, html, body > div {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}
.carta-viewer ul {
    list-style: disc;
    padding: 0 25px;
}
.carta-viewer ol {
    list-style: auto;
    padding: 0 25px;
}